<!DOCTYPE html>
<html lang="en">

<%- include("header", {title: "Login"}) %>


<body>
    <div class="container">
        <h2 class="text-center">Login</h2>
        <% if (typeof errorMessage !== 'undefined') { %>
            <div class="alert alert-danger">
                <%= errorMessage %>
            </div>
        <% } %>
        <form action="../auth/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <div class="text-center mt-3">
                <a href="/request-reset">Forget Password? Reset Password</a><br>
                <a href="../register">Don't have an account? Register</a>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<%- include("footer") %>

</html>
